#pst{
	background-color: gray;
}


#p{

   height: 70px;
	background-color:  pink;
	text-align: center;
}
.xt{
	text-align: center;
}
.pxx{
	text-align: center;
}
h1{ color: white;
	background-color: blue;
	text-align: center;
}
